<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CourseBoard - Error</title>
    <link rel="stylesheet" href="/css/boostrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <div class="container">
        <div class="row err__page">
            <div class="col-md-3"></div>
            <div class="col-md-6 err__details">
                <h1>Looks like we cannot find what you are looking for</h1>
                <a class="btn btn-outline-primary" href="/">Return Home</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <footer>
        <p>All Rights Reserved | CB 2018</p>
    </footer>
</body>

</html>