<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trackit - Add Course</title>
    <link rel="stylesheet" href="/css/boostrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Track IT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container">
            <% if(error && error.length > 0) { %>
            <p class="alert alert-danger">
                <%= error %>
            </p>
            <% } %>

            <% if(success && success.length > 0) { %>
            <p class="alert alert-success">
                <%= success %>
            </p>
            <% } %>
        </div>

        <div class="card courses">
            <legend>Enter the courses you want to take below</legend>
            <form class="form-inline my-2 my-lg-0 add__course" method="POST" action="/courses">
                <input class="form-control mr-sm-2" type="text" name="course" placeholder="Enter a course" required>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Add</button>
            </form>

            <!-- <fieldset>
                <legend>Here are the List of Avalaible courses</legend>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course1" checked="">
                        <label class="custom-control-label" for="course1">CompTIA A+</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course2" checked="">
                        <label class="custom-control-label" for="course2">Intro. to Computer Science</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course3" checked="">
                        <label class="custom-control-label" for="course3">Intro. to Web development</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course4" checked="">
                        <label class="custom-control-label" for="course4">Java 101</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course5" checked="">
                        <label class="custom-control-label" for="course5">C++</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course6" checked="">
                        <label class="custom-control-label" for="course6">JavaScript Basics</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="course7" checked="">
                        <label class="custom-control-label" for="course7">Intro. to C#</label>
                    </div>

                </div>
            </fieldset> -->
        </div>
    </div>

    <% include ./partials/footer %>