<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trackit - Student Course Management System</title>
    <link rel="stylesheet" href="/public/css/boostrap.min.css">
    <link rel="stylesheet" href="/public/css/custom.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="home.html">Track IT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="register.html">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row profile__details">
            <div class="col-md-6">
                <h2>Student Details</h2>
                <p><strong>Last Name:</strong> Doe</p>
                <p>First Name: John</p>
                <p>Email: johndoe@mail.com</p>
                <p>Address: 123, Bradford Street NY</p>
            </div>
            <div class="col-md-6">
                <h2>Registered Courses</h2>
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Course</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Nodejs</td>
                            <td><button class="btn btn-outline-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>DevOps: Azure</td>
                            <td><button class="btn btn-outline-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Reactjs</td>
                            <td><button class="btn btn-outline-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>C++</td>
                            <td><button class="btn btn-outline-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Intro to JavaScript</td>
                            <td><button class="btn btn-outline-danger">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer>
        <p>All Rights Reserved | Track IT 2018</p>
    </footer>
</body>

</html>