html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  background-color: honeydew;
}
header {
  padding: 30px 0 30px;
  background: linear-gradient(45deg, #2c3461, #0f7699);
}

header h1 {
  text-align: center;
  color: #fff;
}

footer {
  background-color: rgb(44, 62, 80);
  padding: 20px 0 10px;
  color: #fff;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.container {
  padding-top: 30px;
}

.card {
  width: 70%;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 5%;
}
.form-group {
  width: 50%;
  margin: 0 auto;
}

.sign__in {
  width: 40%;
  margin: 0 auto;
}

legend {
  text-align: center;
}

.courses div {
  font-size: 1.1rem;
}

.profile__details {
  text-align: center;
}

.add__course {
  padding-bottom: 10px;
  width: 40%;
  margin: 0 auto;
}

.err__details {
  text-align: center;
}
